{
  "presets": [
    ["es2015", { "modules": false }],
    "stage-0",
    "react",
    "airbnb"
  ],
  "plugins": [
    "transform-decorators-legacy",
    "transform-runtime",
    "transform-class-properties",
    "transform-object-rest-spread",
    "react-hot-loader/babel"
  ],
  "env": {
    "test": {
      "plugins": [
        "transform-decorators-legacy",
        "transform-object-rest-spread",
        "istanbul",
	["import", { "libraryName": "antd", "libraryDirectory": "es", "style": "css" }]
      ]
    }
  }
}
